/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2023, 9:56:29 PM
    Author     : ghada
*/


.other-form{
    -fx-background-color: linear-gradient(to bottom right, #84c943,#4cc744);
}

.login-btn{
    -fx-background-color: #4cc744;
    
}
.login-btn:hover{
    -fx-background-color: #84c943;
}


.create-btn{
    -fx-background-color: #ffffff;
    
}
.create-btn:hover{
    -fx-background-color: #bfb6b6;
}